<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Huangxin Dong - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Huangxin Dong</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/posts.html">Posts</a>
                <a href="/about.html">About</a>
                <a href="/projects.html">Projects</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Created with <a href="http://jaspervdj.be/hakyll">Hakyll</a> &amp; Obsidian
            &nbsp;|&nbsp;
            © 2026 Huangxin Dong
        </footer>
    </body>
</html>