<article>
    <section class="post-meta" aria-label="Post metadata">
        $if(date)$
            <time class="date" datetime="$dateIso$">$date$</time>
        $endif$
        $if(author)$
            &nbsp;· $author$
        $endif$
        $if(modified)$
            <span class="modified">Updated <time datetime="$modifiedIso$">$modified$</time></span>
        $endif$
        $if(tags)$
            <span class="tags">$tags$</span>
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
